:root {
    /*colours */
    --color-text: #2C2C2C;
    --color-primary: #6D94C5;    
    --color-secondary: #CBDCEB;   
    --color-dark: #E8DFCA;        
    --color-bg: #527eb4;

    /*fonts*/
    --font-roboto: "Roboto";
}