:root {
    /*colours */
    --color-text: #ffffff;
    --color-primary: #819E4D;    
    --color-secondary: #475a28;   
  --color-dark: #2C331A;        
  --color-bg: #292E1F;

    /*fonts*/
    --font-roboto: "Roboto";
}